form.item-search-form {
  display: flex;
}
form.item-search-form input{
  border: 1px solid #65ad89;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
form.item-search-form input::placeholder {
  color: #a8cebb;
}

.item-search-bar,
.item-search-submit {
  padding: 5px;
  font-size: 17px;
  transition: all 0.15s ease;
  transition-property: background-color, color;
}
.item-search-submit {
  border: 1px solid #65ad89;
  cursor: pointer;
  background: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item-search-submit:hover {
  background-color: #65ad89;
  color: #fff;
}
